{% extends "layout.html.twig" %}

{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Bobinaudio</h1>
        <p>Engineering transformers for vacuum tubes amplifiers</p>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-offset-3">
        <img src="/images/transfo1.jpg" />
        </div> <!-- span -->
      </div><!-- row -->
      <hr />
      <div class="row">
        <div class="col-lg-12">
          <p>In all our Transformers, windings and iron/copper balance are carefully designed and optimized in order to reduce to a minimum all stray capacitors. Consequently, the amplifiers using these transformers show an improved response to high frequencies without any losses at low frequencies while having a total control of the phase and blameless stability.</p>
        </div> <!--span -->
      </div><!-- row -->

{% endblock %}
