<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Bobinaudio - Audio transformers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bobinaudio, transformers for vacuum tubes amplifiers">
    <meta name="author" content="Grégoire HUBERT">

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Bobinaudio</a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{ app.url_generator.generate('index') }}">Home</a></li>
          <li><a href="#about">About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transformers <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Power supply</li>
              <li><a href="#">High voltage</a></li>
              <li><a href="#">Chokes</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Audio</li>
              <li><a href="#">Push Pull</a></li>
              <li><a href="#">Single Ended</a></li>
             </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ app.url_generator.generate('culture', { "culture": "fr" }) }}"><img src="/images/fr.png" style="max-width: 28px;" /></a></li>
        </ul>
      </div>
    </div>

    <div class="container">
{% block content %}{% endblock %}
    </div> <!-- /container -->
    <div class="container">
      <hr>

      <footer>
        <p>© Grégoire HUBERT 2013</p>
      </footer>
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

  </body>
</html>
